<?xml version="1.0"?>
<ruleset name="MyStandard">
    <description>
        My standard for this project
    </description>

    <arg name="tab-width" value="4"/>
    <rule ref="PSR2">
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.BraceOnSameLine" />
        <exclude name="PSR2.Classes.ClassDeclaration.OpenBraceNewLine" />
        <exclude name="PSR2.ControlStructures.ControlStructureSpacing.SpacingAfterOpenBrace" />
        <exclude name="Generic.WhiteSpace.DisallowTabIndent"/>
    </rule>

    <rule ref="Generic.WhiteSpace.DisallowSpaceIndent"/>
    <rule ref="Generic.WhiteSpace.ScopeIndent">
        <properties>
            <property name="indent" value="4"/>
            <property name="tabIndent" value="true"/>
        </properties>
    </rule>

    <rule ref="Generic.Functions.OpeningFunctionBraceKernighanRitchie" />
    <rule ref="Generic.Classes.OpeningBraceSameLine"/>

    <rule ref="VariableAnalysis"/>
    <rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis.UndefinedVariable">
        <type>error</type>
    </rule>
</ruleset>
